extends layout

block content
  h1= title

  div This is a simple/dumb explorer for the 
    a(href='http://amundsen.com/media-types/collection/') Collection+JSON Hypermedia
    | .

  h2 Explore your own collection
  form(action='/render')
    p
      label URL:
        input(name='url', size='100', value='http://example-collection-json-db.herokuapp.com/')
      input(type='submit', value='Render')

  h2 Examples
  p Taken from: 
    a(href='http://amundsen.com/media-types/collection/examples/') Mike Amundsen's examples

  - var examples = examples || []
  ul
    each example in examples
      - var u='http://' + host + '/render?url=' + encodeURIComponent('http://' + host + '/examples/from-spec/' + example + '.collection+json')
      li
        a(href='#{u}') #{example}
