extends layout

block content
  h1 Collection+JSON Explorer

  h2 Explore your own collection
  form(action='/render')
    p
      label URL:
        input(name='url', value='http://p2k12.bitraf.no/checkins-trygvis.php')
      input(type='submit', value='Render')

  h2 Examples

    p Taken from 
      a(href='http://amundsen.com/media-types/collection/examples/') Mike Admundsen's examples

  ul
  each example in examples
    li
      - var u='http://' + host + '/render?url=' + encodeURIComponent('http://' + host + '/examples/from-spec/' + example + '.collection+json')
      a(href='#{u}') #{example}
