extends layout

block content
  h1 Collection+JSON Explorer

  form(action="/render")
    p
      label URL:
        input(name="url", value="http://p2k12.bitraf.no/checkins-trygvis.php")
      input(type="submit", value="Render")
