.sidebar-nav {
  padding: 9px 0;
}

.sidebar-nav-fixed {
  position:fixed;
  /* Only used with top, static navbar
   top:60px; */
  top:20px;
  width:21.97%;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    width:auto;
  }
}

@media (max-width: 979px) {
  .sidebar-nav-fixed {
    position:static;
    width: auto;
  }
}

table.cj-form th {
  text-align: right;
  min-width: 300px;
  padding-right: 20px;
}

table.cj-form th div {
  margin-bottom: 10px;
}

table.cj-form tbody td,
table.cj-form tbody input {
  width: 100%;
}
